<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <title>Save Products</title>
</head>

<body>

<div class="container">

  <br>

  <h3>Product Storage</h3>
  <hr>

  <br>

  <p class="h4 mb-4">Enter Product Details</p>

    <div style="text-align: center;">

  <form action="#" th:action="@{/products/save}"
        th:object="${product}" method="POST">

    <input type="hidden" th:field="*{id}" />

    <input type="text" th:field="*{name}"
           class="form-control mb-4 col-4" placeholder="Product Name">

    <input type="text" th:field="*{category}"
           class="form-control mb-4 col-4" placeholder="Category name">

    <input type="text" th:field="*{price}"
           class="form-control mb-4 col-4" placeholder="$-Price">

    <button type="submit" class="btn btn-lg btn-success col-2">Add product</button>

  </form>
    </div>

  <hr>
  <div style="text-align: center;">
  <a th:href="@{/products/list}" style="font-size: 18px;">Go Back To Products Page</a>
  </div>

</div>
</body>
</html>